
:root{
	--primary-font:'Yeseva One', cursive;
	--secondary-font: 'Josefin Sans', sans-serif;
	--bg-color: #898320;
	--bg-color-highlight: #5e2706;
	--text-color-dark: #d8d274;
	--text-color-hover: #898320;
}

body{
	background-color: var(--bg-color);
}

/***** NAVBAR *****/

.navbar{
	z-index: 3;
}

#navbar-style{
	background: var(--bg-color-highlight);
	opacity: 0.8;
	font-size: 1.15em;
}

#navbar-style a{
	color:  var(--text-color-dark);
	margin : 0 10px 0 10px;
	font-family: var(--secondary-font);
}

#navbar-style .navbar-brand{
	font-size: 1.45em;
	font-family: var(--primary-font);
}

.navbar-toggler-icon{
	background-color: var(--text-color-dark);
}

#navbar-style a:hover{
	color: var(--text-color-hover);
}

.sticky{
	position: fixed;
	width: 100%;
}

/**** HAMBURGER ****/

button.navbar-toggler{
	margin-top: 8px;
	position: relative;
}

#hamburger-click input{
	display: block;
	width: 40px;
	height: 32px;
	position: absolute;
	top: 0px;
	left: 10px;

	cursor: pointer;

	opacity: 0;
	z-index: 2;
}

span.hamburger{
	display: block;
	width: 33px;
	height: 4px;
	margin-bottom: 5px;
	position: relative;

	background-color: var(--text-color-dark);
	border-radius: 3px;

	z-index: 1;

	transform-origin: 4px 0px;

	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

span.hamburger:first-child{
	transform-origin: 0% 0%;
}

span.hamburger:nth-last-child(1){
	transform-origin: 0% 100%;
}

#hamburger-click input:checked ~ span{
	opacity: 1;
	transform: rotate(45deg); /*translate(-2px, 1px);*/
}

#hamburger-click input:checked ~ span:nth-last-child(2){
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
}

#hamburger-click input:checked ~ span:nth-last-child(1){
	opacity: 1;
	transform: rotate(-45deg) translate(0px, 1px);
}

/***** JUMBOTRON *****/

.jumbotron{
	position: absolute;
	height: 100vh;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	color:  var(--text-color-dark);
	padding-top: 20%;
	padding-bottom: 20%;
	background-size: cover;
	background-image: url("Images/jumbotron1.jpg");
}

.jumbotron p.slogan{
	font-size: 2.5em;
	width: 100%;
	font-family: var(--primary-font);
}

.lead{
	text-transform: capitalize;
	font-family: var(--secondary-font);
}


.overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(48, 29, 17, 0.6);
	z-index: 1;
	
}

.inner{
	height: 75%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	position: relative;
	z-index: 2;
}


/***** SMALL AND MEDIUM DEVICES *****/

@media (max-width: 991px){
	.jumbotron p.slogan{
		font-size: 2.5rem;
	}
	.lead{
		font-size: 1.5rem;
	}

	/***** MENU TOGGLE STYLE *****/

body{
	position: relative;
}

.menu-wrap{
	background-color: var(--bg-color-highlight);
	height: 100vh;
	width: 100vw;

	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	margin: 0;
	padding: 0;
	text-align: center;
}

.active{
	margin-top: 25%;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
}

#navbar-style{
	opacity: 1;
}

#navbar-style a{
	font-size: 1.5em;
}

}