
:root{
	--primary-font: 'Playfair Display', serif;/*'Yeseva One', cursive;*/
	--secondary-font: 'Lato', sans-serif;/*'Josefin Sans', sans-serif;*/
	--bg-color: #898320;
	--bg-color-highlight: #5e2706;
	--text-color-dark: #d8d274;
	--text-color-hover: #898320;
}

html{
	font-size: 62.5%;
}

body{
	background-color: var(--bg-color-highlight);
}

/***** NAVBAR *****/

.navbar{
	z-index: 3;
}

#navbar-style{
	background: var(--bg-color-highlight);
	opacity: 0.8;
	font-size: 1.75rem;
}

#navbar-style a{
	color:  var(--text-color-dark);
	margin : 0 10px 0 10px;
	font-family: var(--secondary-font);
}

#navbar-style .navbar-brand{
	font-size: 2.5rem;
	font-weight: bold;
	font-family: var(--primary-font);
}

.navbar-toggler-icon{
	background-color: var(--text-color-dark);
}

#navbar-style a:hover{
	color: var(--text-color-hover);
}

.sticky{
	position: fixed;
	width: 100%;
	z-index: 100;
}

/**** HAMBURGER ****/

button.navbar-toggler{
	margin-top: 8px;
	position: relative;
}

#hamburger-click input{
	display: block;
	width: 40px;
	height: 32px;
	position: absolute;
	top: 0px;
	left: 10px;

	cursor: pointer;

	opacity: 0;
	z-index: 2;
}

span.hamburger{
	display: block;
	width: 33px;
	height: 4px;
	margin-bottom: 5px;
	position: relative;

	background-color: var(--text-color-dark);
	border-radius: 3px;

	z-index: 1;

	transform-origin: 4px 0px;

	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

span.hamburger:first-child{
	transform-origin: 0% 0%;
}

span.hamburger:nth-last-child(1){
	transform-origin: 0% 100%;
}

#hamburger-click input:checked ~ span{
	opacity: 1;
	transform: rotate(45deg); /*translate(-2px, 1px);*/
}

#hamburger-click input:checked ~ span:nth-last-child(2){
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
}

#hamburger-click input:checked ~ span:nth-last-child(1){
	opacity: 1;
	transform: rotate(-45deg) translate(0px, 1px);
}

/***** JUMBOTRON *****/

.jumbotron{
	position: absolute;
	height: 100vh;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	color:  var(--text-color-dark);
	background-size: cover;
	background-image: url("Images/jumbotron1.jpg");
}

.jumbotron p.slogan{
	font-size: 3rem;
	width: 100%;
	font-weight: bold;
	font-family: var(--primary-font);
	text-transform: capitalize;
}

.lead{
	font-size: 2rem;
	text-transform: capitalize;
	font-family: var(--secondary-font);
}


.overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(48, 29, 17);
	opacity: 0.6;
	z-index: 1;
	
}

.inner{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	position: relative;
	z-index: 2;
}

#placeholder{
	height: 100vh;
}


/***** MENU SPECIALS GALLERY *****/

h1{
	font-family: var(--primary-font);
	color: var(--text-color-dark);
	padding: 25px;
	text-transform: capitalize;
	text-align: center;
}

.specials-gallery-column img{
	display: block;
	width: 100%;
	height: auto;
	padding: 5px 5px 0 0;
}

.col-lg-3, .col-md-2, .col-sm-12{
	padding: 0;
}

.box{
	position: relative;
}

.img-description{
	position: absolute;
	top : 0;
	left : 0;
	right : 0;
	bottom : 0;
	opacity : 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	color: var(--text-color-dark);
	background-color: var(--bg-color-highlight);
}

.img-description:hover{
	opacity: 0.75;
	transition: all .75s ease;
}

.img-description h3{
	font-family: var(--primary-font);
	text-transform: capitalize;
	font-weight: bold;
	padding-bottom: 10px;
}

.img-description p{
	font-family: var(--secondary-font);
	font-size: 1.5rem;
	margin: 0 15% 0 15%;
}

/***** SITE MAP *****/

.site-map{
	background-color: var(--text-color-dark);
	color: var(--bg-color-highlight);
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: 25px;
}

.site-map a{
	color: var(--bg-color-highlight);
}

.site-map ul{
	list-style-type: none;
	font-size: 1.5rem;

}

.site-map ul li:first-child{
	font-weight: bold;
	font-size: 1.75rem;
	padding-bottom: 15px;
}

.site-map i{
	font-size: 3rem;
	
}


/***** MENU PAGE ******/

#menu h1, #about h1, #contact h1{
	padding : 10vh 0 5vh 0;
}

.menu-categories{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: auto;
	margin-bottom: 10px;
	position: relative;
}

.menu-box{
	margin: 100px;
	color: var(--text-color-dark);
	z-index: 10;
}

.menu-categories h2{
	text-align: center;
	margin-bottom: 25px;
	text-transform: capitalize;
	font-size: 2.25rem;
	font-family: var(--primary-font);
	font-weight: bold;
}

table{
	border: none;
	font-size: 1.75rem;
	font-family: var(--secondary-font);	
	list-style-type: none;
	text-transform: capitalize;
	width: 100%;  
}

td{
	padding: 10px 25px ;
}

.menu-categories .overlay{
	opacity: 0.75;
}

#breakfast{
	background-image: url("Images/brooke-lark-08bOYnH_r_E-unsplash.jpg");
	background-size: cover;
}

#lunch{
	background-image: url("Images/alyssa-kowalski-97YFGmT3Cu8-unsplash.jpg");
	background-size: cover;
}
#drinks{
	background-image: url("Images/freshh-connection-4J3QPi3sILc-unsplash.jpg");
	background-size: cover;
}

/***** ABOUT PAGE *****/

.pics{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 30px;
	margin-bottom: 60px;
}

.img-caption .box img{
	width: 100%;
}

.img-caption .img-description{
	opacity: 0.9;
	top:85%;
}

.img-caption div{
	font-size: 1.75rem;
}

.para{
	font-size: 1.75rem;
	color: var(--text-color-dark);
	font-family: var(--secondary-font);
	line-height: 2.5;
	text-align: center;
}

/***** CONTACT PAGE *****/

#contact .box{
	display: inline;
	text-align: center;
	font-family: var(--primary-font);
	color: var(--text-color-dark);
	text-transform: capitalize;
	border : 2px solid var(--text-color-hover);
	font-size: 2.5rem;
	transition: transform .5s ease;
}

#contact .box:hover{
	box-shadow: 10px 10px 10px black;
	transform: scale(1.1);
}

.contact-info{
	font-size: 1.75rem;
	line-height: 1.5;
	font-family: var(--secondary-font);
	line-height: 1.75;
	text-transform: none;
}

.contact-info span{
	font-family: var(--primary-font);
}
/***** SMALL AND MEDIUM DEVICES *****/

@media only screen and (max-width: 991px){

	/***** MENU TOGGLE STYLE *****/

	body{
			position: relative;
	}

	.menu-wrap{
			background-color: var(--bg-color-highlight);
			height: 100vh;
			width: 100vw;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			margin: 0;
			padding: 0;
			text-align: center;
	}

	.active{
			margin-top: 25%;
			display: flex;
			flex-direction: column;
			text-align: center;
			justify-content: center;
	}

	#navbar-style a{
		font-size: 2.25rem;	
	}

	#navbar-style{
		opacity: 1;
	}

	/***** MENU SPECIALS IMAGE GALLERY *****/

	h1{
		font-size: 3rem;
	}
	.col-sm-12 img{
	padding-left: 5px;
	}

	.img-description h3{
		font-size: 2.5rem;
	}

	.specials-gallery-column .img-description p{
		font-size: 2.25rem
	}

	/***** MENU PAGE *****/

	.menu-box{
		margin-left: auto;
		margin-right: auto;
	}
	
	#breakfast{
		background-image: url("Images/kavita-joshi-rai-lE5O9DktAQY-unsplash.jpg");
		background-size: cover;
	}

	#lunch{
		background-image: url("Images/eiliv-sonas-aceron-R1_0gSXks5Y-unsplash1.jpg");
		background-size: cover;
	}
	#drinks{
		background-image: url("Images/clarissa-carbungco-uy9DJw9e_vs-unsplash1.jpg");
		background-size: cover;
	}

	/***** ABOUT PAGE *****/

	.pics{
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 60%;
		height: auto;
		margin-left: auto;
		margin-right: auto;		
	}

	.img-caption .box:first-child{
		margin-bottom: 15px;
	}

	/***** CONTACT PAGE *****/

	#contact .box{
		width: 75vw;
		margin-left: auto;
		margin-right: auto;
	}
}